.ag-theme-alpine .ag-header-cell-label {
    /* font-style: italic; */
    font-family:  B Nazanin,iransans;
    font-size: 14px;
}

.ag-theme-alpine {
    /* --ag-foreground-color: rgb(126, 46, 132);
    --ag-background-color: rgb(249, 245, 227);
    --ag-header-foreground-color: rgb(204, 245, 172);
    --ag-header-background-color: rgb(209, 64, 129);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);

    --ag-font-size: 17px; */
    --ag-font-family: B Nazanin, iransans;
}

.ag-paging-panel {
    font-family: B Nazanin, iransans;
}

.ag-cell-value {
    font-family: B Nazanin, iransans;
    font-size: 14px;
}

@media only screen and (max-width: 500px) {
    .ag-root-wrapper.ag-layout-normal {
        height: 90%;
    }

    .ag-theme-alpine .ag-header-cell-label {
        font-size: 9px;
    }

    .ag-theme-alpine .ag-header-cell-label {
        font-size: 9px;
    }

    .ag-theme-alpine .ag-row {
        font-size: 9px;
    }

    .ag-cell-value {
        font-size: 9px;
    }

    .ag-paging-panel {
        font-family: iransans;
        font-size: 9px;
    }

    .example-wrapper {
        font-family: iransans;
        font-size: 11px;
    }

    label {
        font-family: iransans;
        font-size: 11px;
    }

    select {
        font-family: iransans;
        font-size: 11px;
    }

    #quickFilter {
        margin-top: 5px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #ExpenseListGrid{
     height: 90%;
    }
}


.table-to-xls{
   
    font-family: B Nazanin;   
    margin-left: auto;
    margin-right: auto;
    padding:80px;
}

.border-tankhah-header{
 
    border:1px solid #3f3f41;
    text-align: center;
    /* padding-top:5px;
    padding-bottom:5px; */
}
nav{
    font-family: iransans;
    font-size: 14px;
}



 /* table.table-bordered > thead > tr > th{
    border:1px solid rgb(40, 39, 39);
    font-weight: bold;
  }
  .table-to-xls> table.table-bordered > tbody > tr > td{
    border:1px solid rgb(40, 39, 39);
    background-color: rgb(132, 130, 130);
  }  */